body {
    background-color: #eaf6f6;
  }
  hr {
    border-color: rgb(145, 137, 137);
    border-style: dotted none none;
    border-width: 7px;
    width: 5%;
  }
  h1{
    color: #66BFBF;
  }
  h3{
    color: #66BFBF;
  }
  form{
    padding: 20px 90px;
    padding-bottom: 100px;
    max-width: 800px;
    width: 95%;
    text-align: left;
    margin: auto;
    background-color: rgb(240, 240, 240);
  }
  form label{
    margin-top: 1rem;
    display: block;
  }
  form input{
    display: block;
    padding: 0.5rem;
    width: 100%;
  }