body {
    background-color: #eaf6f6;
  }
  hr {
    border-color: rgb(145, 137, 137);
    border-style: dotted none none;
    border-width: 7px;
    width: 5%;
  }
  h1{
    color: #66BFBF;
  }
  h3{
    color: #66BFBF;
  }